.resume-button {
    background-color: var(--background-color);
    color: var(--light-blue);
    border: 0px solid var(--text-color);

}

.resume-button:hover {
    background-color: var(--background-color);
    color: var(--light-blue);
    border: 0px solid var(--text-color);
}