:root {
    
    --primary-dark-color: #000000;
    --primary-light-color : #ffffff;

    --light-gray: #e9ecef;

    --primary-blue: #146C94;
    --light-blue: #19A7CE;  
    --button-hover: #0D87B0;


    --chat-shadow: 0px 4px 10px rgba(0,0,0,0.2);

    --background-color: var(--primary-light-color);

    --text-color: var(--primary-dark-color);

    --nav-link-color: var(--primary-dark-color);

    --footer-background-color: var(--light-gray);

    --footer-text-color: var(--primary-dark-color);

    --navbar-brand-color: var(--primary-blue);

    --form-background-color: var(--primary-light-color);

    --button-text-color: var(--primary-light-color);

    --nav-brand-hover-color: var(--light-blue);

    --button-text-hover-color: var(--primary-light-color);

    --input-focus-background-color: var(--primary-light-color);

    --input-focus-text-color: var(--primary-dark-color);

    --blue-text-color: var(--primary-blue);

    --message-bubble-color-send: var(--light-gray);

    --message-bubble-color-recv: var(--light-blue);

    --message-text-color-send: var(--primary-blue);

    --message-text-color-recv: var(--primary-light-color);

    --md-code-color: var(--primary-dark-color);

    --form-input-color: var(--primary-dark-color);

    --blue-text-hover: var(--light-blue);

    --social-media-color: var(--primary-light-color);

    --social-media-color-border-hover: var( --primary-dark-color);
 
  
  
  } 
  
  [data-theme="dark"]  {

    --primary-light-color : #ffffff;
    --primary-dark-color: #000000;
    
    --dark-gray: #343a40;

    --primary-blue: #146C94;
    --light-blue: #19A7CE;  

  
    --chat-shadow: 0px 4px 10px rgba(255,255,255,0.2);

    --background-color: var(--primary-dark-color);

    --text-color: var(--primary-light-color);

    --nav-link-color: var(--primary-light-color);

    --footer-background-color: var(--dark-gray);

    --footer-text-color: var(--primary-light-color);

    --navbar-brand-color: var(--light-blue);

    --form-background-color: var(--primary-dark-color);

    --button-text-color: var(--primary-dark-color);

    --nav-brand-hover-color: var(--light-blue);

    --button-text-hover-color: var(--primary-dark-color);

    --input-focus-background-color: var(--primary-dark-color);

    --input-focus-text-color: var(--primary-light-color);

    --blue-text-color: var(--light-blue);

    --message-bubble-color-send: var(--dark-gary);

    --message-bubble-color-recv: var(--light-blue);

    --message-text-color-send: var(--light-blue);

    --message-text-color-recv: var(--primary-dark-color);

    --md-code-color: var(--primary-light-color);

    --form-input-color: var(--primary-light-color);

    --social-media-color: var(--primary-light-color);

    --social-media-color-border-hover: var( --light-gray);
  
  }



  


.new-message-button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 0px
}



.new-message-button:hover {
  background-color: var(--background-color) !important;  /* your hover */
  color: var(--text-color) !important;
  
}

.new-message-button.shadow {
  box-shadow: var(--chat-shadow) !important;
}


.status-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  
  flex-shrink: 0;             /* Prevent stretching */
  animation: pulse 1.5s infinite;
  
}



@keyframes pulse {
  0%   { opacity: 0.6; }
  50%  { opacity: 1; }
  100% { opacity: 0.6; }
}


.message-bubble-color-sender {
   background-color: var(--footer-background-color);
   color: var(--text-color);
}

.message-input-box-color {
   background-color: var(--footer-background-color);
   color: var(--text-color);
}

.message-bubble-color-reciever {
  background-color: var(--message-bubble-color-recv);
  color: var(--background-color);
}


.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.timestamp-color-sender {
  color : var(--text-color)
}


.timestamp-color-reciever {
  color : var(--text-color)
}